<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="opponentManager" class="com.David.JiuJitsuJournal.domain.OpponentManager" />

    <bean id="opponentController" class="com.David.JiuJitsuJournal.api.controllers.OpponentController">
        <constructor-arg ref="opponentManager" />
    </bean>
</beans>